<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/pind.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/common")
    @RenderSection("scripts", required: false)

</head>
<body>
    <div class="modal fade" id="exampleModalSm" tabindex="-1" aria-labelledby="exampleModalSmLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Error
                </div>
            </div>
        </div>
    </div>

    <div aria-live="polite" aria-atomic="true" id="toastsP" class="d-flex justify-content-center align-items-center w-100">
    </div>

    <div class="modal fade" id="exampleModalDeleteNote" tabindex="-1" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
        @*<div class="modal-dialog modal-dialog-centered">*@
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas
                        eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary modal_ok">确定</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModalFile" tabindex="-1" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
        @*<div class="modal-dialog modal-dialog-centered">*@
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p></p>
                </div>
                <div class="modal-footer filefooter">
                    <button class="modal_Download btn btn-primary">下载</button>
                    <button class="modal_Delete btn btn-info">删除</button>
                </div>
            </div>
        </div>
    </div>


    @*<div class="container body-content">*@
    @RenderBody()
    @*</div>*@

    <script>
        function request(url, method, data) {
            if (data == null) data = {};
            return new Promise(function (resolve, reject) {
                method = method.toLowerCase();
                if (method == "get") {
                    let getParas = "";
                    for (var i = 0; i < data.length; i++) {
                        getParas += ("&" + data[i].text + "=" + data[i].value);
                    }
                    if (getParas) {
                        url += ("?" + getParas.substring(1, getParas.length - 1));
                    }
                } else if (method != "post") {
                    showToast("不支持的请求");
                }

                $.ajax({
                    type: method,
                    url: url,
                    data: data,
                    success: function (res) {
                        if (res.code == 10000) {
                            window.location = '/login';
                        } else {
                            resolve(res);
                        }
                    },
                    error: function (ex) {
                        showToast("请求错误");
                    },
                    complete: function () {
                    }
                });
            });
        }

        function showToast(msg, isError = false) {
            let ndoeToastsP = document.getElementById("toastsP");
            let node = document.createElement("div");
            node.setAttribute("class", "toast");
            node.setAttribute("role", "alert");
            node.setAttribute("aria-live", "assertive");
            node.setAttribute("aria-atomic", true);
            if (ndoeToastsP.children.length > 0) {
                node.style.setProperty("top", ndoeToastsP.children[ndoeToastsP.children.length - 1].offsetTop + 47 + 5 + "px");
            } else {
                node.style.setProperty("top", "10px");
            }
            node.style.setProperty("position", "absolute");
            node.style.setProperty("z-index", "999");
            node.style.setProperty("background-color", "white");
            node.style.setProperty("display", "flex");
            node.style.setProperty("align-items", "center");
            if (isError) {
                node.style.setProperty("color", "red");
            }

            node.innerHTML = "<div class='toast-body'>Hello, world! This is a toast message.</div><button type='button' class='btn-close ms-auto me-2' data-bs-dismiss='toast' aria-label='Close'></button>";
            node.getElementsByClassName("toast-body")[0].innerText = msg;
            ndoeToastsP.appendChild(node);
            node.addEventListener('hidden.bs.toast', function () {
                node.parentNode.removeChild(node);
            })

            new bootstrap.Toast(node, { delay: 2500 }).show();
        }

    </script>

    <style>
        body {
            /*padding-top: 15px;*/
            padding-top: 0px;
            font-size: 14px;
            font-family: "微软雅黑";
            /*overflow-y: hidden;*/
            overflow-x: hidden;
            position: absolute;
            /*height: 100%;*/
            width: 100%;
        }

            body::-webkit-scrollbar {
                display: none;
            }

        .container {
            max-width: 700px;
        }

        #toastsP {
            position: absolute;
            flex-flow: column;
        }

        .filefooter {
            display: flex;
        }

        .modal_Download {
            flex: 1;
        }

        .modal_Delete {
            flex: 1;
            margin-left: 10px;
        }

        .modal-body {
            word-wrap: break-word;
            word-break: break-all;
        }
    </style>
</body>
</html>